nltk==3.9.1
openai==1.57.0
pandas==2.2.3
psycopg2-binary==2.9.10
PyPDF2==3.0.1
rank_bm25==0.2.2
Flask==3.0.3
accelerate==1.6.0
numpy==2.1.2
scikit-learn==1.6.1
sentence-transformers==4.0.2
transformers==4.51.0
fastapi==0.116.0
uvicorn==0.35.0