{% extends "base.html" %}

{% block content %}
<h1>Erklärung zur Barrierefreiheit</h1>

<p>Diese Erklärung zur Barrierefreiheit gilt für die unter <strong>pal.db.tu-dresden.de</strong> veröffentlichte Website.</p>

<p>
  Die TU Dresden ist bemüht, ihre Websites und mobilen Anwendungen im Einklang mit den Bestimmungen des
  <strong>Barrierefreie-Websites-Gesetz (BfWebG)</strong> sowie in Verbindung mit der
  <strong>Barrierefreie-Informationstechnik-Verordnung (BITV 2.0)</strong> barrierefrei zugänglich zu machen.
</p>

<h2>Erstellung dieser Erklärung zur Barrierefreiheit</h2>
<p>
  Diese Erklärung wurde am <strong>30.04.2025</strong> erstellt. Grundlage der Erstellung dieser Erklärung zur Barrierefreiheit ist eine
  am <strong>30.04.2025</strong> vom Lehrstuhl Datenbanken durchgeführte <strong>BITV-Selbstbewertung</strong>.
</p>

<h2>Stand der Vereinbarkeit mit den Anforderungen der BITV</h2>
<p>
  Diese Website ist wegen der folgenden Unvereinbarkeiten und/oder Ausnahmen <strong>teilweise</strong> mit den Vorgaben des BfWebG
  in Verbindung mit der BITV 2.0 vereinbar.
</p>

<h2>Nicht barrierefreie Inhalte</h2>
<ul>
  <li><strong>PDF-Dokumente sind nicht barrierefrei:</strong> Hochgeladene PDF-Dateien entsprechen unter Umständen nicht den Anforderungen an barrierefreie Dokumente gemäß PDF/UA-Standard.</li>
  <li><strong>Keine "Skip-to-Content"-Funktion vorhanden:</strong> Nutzende mit Tastatur oder Screenreader können derzeit nicht direkt zum Hauptinhalt springen.</li>
  <li><strong>Nicht alle interaktiven Elemente sind mit aria-Attributen versehen:</strong> Einige Navigationspunkte oder Schaltflächen verfügen nicht über zusätzliche Informationen zur Nutzung mit assistiven Technologien.</li>
</ul>

<p>
  Eine Anpassung dieser Mängel ist in Arbeit. Alternativ wird die Möglichkeit geboten, telefonisch Termine zu buchen.
</p>

<h2>Kontakt</h2>
<p>
  Sollten Ihnen Mängel in Bezug auf die barrierefreie Gestaltung auffallen, wenden Sie sich bitte an:
</p>
<ul>
  <li><strong>Name:</strong> Erik Schönwälder</li>
  <li><strong>E-Mail:</strong> <a href="mailto:erik.schoenwaelder@tu-dresden.de">erik.schoenwaelder@tu-dresden.de</a></li>
  <li><strong>Telefon:</strong> +49 351 463-37908</li>
</ul>

<h2>Durchsetzungsverfahren</h2>
<p>
  Wenn wir Ihre Rückmeldungen aus Ihrer Sicht nicht befriedigend bearbeiten, können Sie sich an die Sächsische Durchsetzungsstelle wenden:
</p>
<address>
  <strong>Beauftragter der Sächsischen Staatsregierung für die Belange von Menschen mit Behinderungen</strong><br>
  Albertstraße 10, 01097 Dresden<br>
  Postanschrift: Archivstraße 1, 01097 Dresden<br>
  <strong>E-Mail:</strong> <a href="mailto:info.behindertenbeauftragter@sk.sachsen.de">info.behindertenbeauftragter@sk.sachsen.de</a><br>
  <strong>Telefon:</strong> 0351 564-12161<br>
  <strong>Fax:</strong> 0351 564-12169<br>
  <strong>Webseite:</strong> <a href="https://www.inklusion.sachsen.de" target="_blank" rel="noopener">https://www.inklusion.sachsen.de</a>
</address>
{% endblock %}
