{% extends "base.html" %}

{% block content %}
  <h1>Datenschutzerklärung zur Verarbeitung personenbezogener Daten im Rahmen des Forschungsprojekts PAL (PerspektiveArbeit Lausitz)</h1>

  <section>
    <h2>1. Für welche Zwecke sollen personenbezogene Daten verarbeitet werden?</h2>
    <p>Im Rahmen des Forschungsprojektes (Kooperationsvertrag) wird den im PAL-Projekt beteiligten Unternehmen eine unternehmensinterne Suchmaschine für den eigenen Wissensbestand bereitgestellt. Für den Betrieb dieser Suchmaschine ist es nicht erforderlich, personenbezogene Daten zu erheben, weiterzuverarbeiten oder zu speichern.</p>
  </section>

  <section>
    <h2>2. Wer ist für die Datenverarbeitung verantwortlich und an wen können sich Betroffene wenden?</h2>
    <address>Technische Universität Dresden<br>
        Ansprechpartner:in:<br>
        Herr Erik Schönwälder<br>
        Institut für Systemarchitektur<br>
        E-Mail: erik.schoenwaelder@tu-dresden.de<br>
        Tel.: +49(0) 351 463-37908<br>
    </address><br>
    <address>Technische Universität Dresden<br>
        Der Datenschutzbeauftragte<br>
        Herr Jens Syckor<br>
        01062 Dresden<br>
        E-Mail: informationssicherheit@tu-dresden.de<br>
        Tel.: +49 (0)351 463-32839<br>
    </address>
  </section>

  <section>
    <h2>3. Auf welcher Rechtsgrundlage erfolgt die Verarbeitung personenbezogener Daten?</h2>
    <p>Die Rechtsgrundlage für die Datenverarbeitung zu den oben genannten Zwecken ist <strong>Art. 6 Abs. 1 UAbs. 1 lit. a und ggf. Art. 9 Abs. 2 lit. a DSGVO</strong> (Einwilligung). Die Vorgaben des § 12 SächsDSDG für die Verarbeitung personenbezogener Daten zu Forschungszwecken werden beachtet.</p>
  </section>

  <section>
    <h2>4. Welche personenbezogenen Daten werden verarbeitet?</h2>
    <p>Im Rahmen dieses Systems werden keine personenbezogenen Daten aktiv erhoben oder verarbeitet. Es erfolgt weder eine Registrierung noch ein Login mit personenbezogenen Angaben. Die Lösung an der TU Dresden sieht mehrere Klienten vor (Unternehmen bzw. beteiligte Lehrstühle), die mittels organisationsspezfischem Login nur auf ihre Daten zugreifen können.</p>
    <p>Sämtliche Funktionen des Systems, einschließlich des Zugriffs, können vollständig anonym genutzt werden.</p>
      <p>Einzige Ausnahmen bilden das optionale Feedbacksystem sowie die Möglichkeit zum Upload von PDF-Dateien, die vom System bereitgestellt werden sollen.</p>
    <ul>
      <li><strong>Feedbacksystem:</strong> Beim Feedbacksystem füllen Nutzerinnen und Nutzer ein Freitextfeld aus – hierbei wird ausdrücklich darauf hingewiesen, keine personenbezogenen Daten einzugeben. Dennoch kann nicht vollständig ausgeschlossen werden, dass freiwillig personenbezogene Informationen in das Freitextfeld eingetragen werden. Solche Eingaben erfolgen auf eigene Verantwortung, was auf der Webseite vermerkt ist.</li>
      <li><strong>Upload von PDF-Dateien:</strong> Ebenso kann bei der Nutzung der Upload-Funktion nicht ausgeschlossen werden, dass Inhalte in den hochgeladenen PDF-Dateien der Unternehmen personenbezogene Daten enthalten. Die Systemnutzung sieht jedoch nicht vor, solche Daten zu erheben oder gezielt auszuwerten. Nutzerinnen und Nutzer sind deshalb angehalten, ausschließlich nicht-personenbezogene Inhalte hochzuladen. Etwaige personenbezogene Angaben werden durch die TU Dresden nicht weiterverarbeitet.</li>
    </ul>
  </section>

  <section>
    <h2>5. Wie werden die personenbezogenen Daten verarbeitet und wie lange werden sie gespeichert?</h2>
    <p>Feedback, das über das System eingegeben wird, bzw. die Log-Datei der Systemnutzung wird auf einem Server der TU Dresden gespeichert. Zugang dazu hat nur der Entwickler aus dem PAL-Projekt. Die Verarbeitung erfolgt durch die PAL-Projektbearbeiter ausschließlich zu dem Zweck, das System weiterzuentwickeln und zu verbessern.</p>
    <p>Die Log-Datei enthält folgende Daten: </p>
    <ul>
      <li>Suchanfrage</li>
      <li>Relevante Textstellen (durch das Suchsystem ausgegeben)</li>
      <li>Rechenzeit</li>
      <li>Optionales Feedback (Freitext und Daumen hoch/runter)</li>
    </ul>
    <p>Sobald die relevanten Informationen zur Systemverbesserung dem Feedback entnommen wurden, wird dieses vollständig gelöscht. Die maximale Speicherdauer beträgt sechs Monate.
Falls Nutzerinnen oder Nutzer entgegen der ausdrücklichen Hinweise personenbezogene Daten in das Freitextfeld eingeben, werden diese nicht gesondert verarbeitet. Es wird lediglich die inhaltliche Meinung oder Einschätzung zur Qualität und Funktionalität des Systems berücksichtigt. Auch in diesem Fall erfolgt im Anschluss die vollständige Löschung der Rückmeldung innerhalb des oben genannten Zeitraums.
</p>
    <p>PDF-Dateien, die zur Durchsuchbarkeit in das System hochgeladen werden, werden ebenfalls auf einem Server der TU Dresden gespeichert. Der Upload ist ausschließlich durch Administratorinnen und Administratoren der jeweiligen Unternehmen möglich. Diese verfügen auch über die Möglichkeit, die Dateien eigenständig zu löschen. Eine Analyse oder Löschung der hochgeladenen Dateien durch die TU Dresden ist nicht vorgesehen, um den laufenden Betrieb der unternehmensinternen Suchmaschine nicht zu beeinträchtigen.</p>
    <p>Die Nutzung durch die Unternehmen endet mit dem Projekt 10/2026, es sei denn, es werden andere Vereinbarungen schriftlich getroffen.</p>
  </section>

  <section>
    <h2>6. Werden personenbezogene Daten an Dritte übermittelt?</h2>
    <p>Insofern dies nicht anders gesetzlich bestimmt ist oder Sie im Einzelfall ausdrücklich eingewilligt haben, erfolgt keine Übermittlung von personenbezogenen Daten an Dritte.   </p>
  </section>

  <section>
    <h2>7. Erfolgt eine Veröffentlichung personenbezogener Daten?</h2>
    <p>Die Forschungsergebnisse werden in wissenschaftlich üblicher Form veröffentlicht. Wir sichern zu, dass aus den Veröffentlichungen keinerlei Rückschlüsse auf Personen möglich sind. </p>
  </section>

  <section>
    <h2>8. Welche Rechte haben Betroffene grundsätzlich?</h2>
    <ul>
      <li><strong>Freiwilligkeit und Widerruf (Art. 7 Abs. 3 DSGVO):</strong> Die Angabe personenbezogener Daten ist freiwillig. Die Einwilligung kann verweigert beziehungsweise jederzeit formlos und ohne Angabe von Gründen bei der/dem Verantwortlichen widerrufen werden. Ihre personenbezogenen Daten werden daraufhin nicht mehr verarbeitet und unverzüglich gelöscht, es sei denn, dass die Verwirklichung der Forschungsziele hierdurch voraussichtlich unmöglich oder ernsthaft beeinträchtigt wäre und es eine anderweitige Rechtsgrundlage als die Einwilligung für die Verarbeitung gibt (insb. § 12 Abs. 1 SächsDSDG).</li>        
      <li><strong>Auskunftsrecht (Art. 15 DSGVO):</strong> Sie haben das Recht, jederzeit Auskunft über die zu Ihrer Person verarbeiteten Daten sowie die möglichen Empfänger:innen dieser Daten zu verlangen. Ihnen steht eine Antwort innerhalb einer Frist von einem Monat nach Eingang des Auskunftsersuchens zu.</li>
      <li><strong>Recht auf Berichtigung, Löschung und Einschränkung (Art. 16-18 DSGVO):</strong> Sie können jederzeit gegenüber der TU Dresden die Berichtigung oder Löschung Ihrer personenbezogenen Daten oder die Einschränkung der Verarbeitung verlangen.</li>
        
      <li><strong>Recht auf Datenübertragbarkeit (Art. 20 DSGVO):</strong> Sie können verlangen, dass der/die Verantwortliche Ihnen Ihre personenbezogenen Daten in maschinenlesbarer Form übermittelt. Alternativ können Sie die direkte Übermittlung der von Ihnen bereitgestellten personenbezogenen Daten an eine:n andere:n Verantwortliche:n verlangen, soweit dies möglich ist.</li>
      <li><strong>Beschwerderecht (Art. 77 DSGVO):</strong> Sie können sich jederzeit an den Datenschutzbeauftragten der TU Dresden (siehe oben) sowie bei einer Beschwerde nach Art. 77 DSGVO an eine Aufsichtsbehörde zum Datenschutz wenden. </li>
    </ul>
    <p><strong>Zuständige Aufsichtsbehörde für die Technische Universität Dresden:</strong><br></p>
      <address>Sächsische Datenschutz- und Transparenzbeauftragte<br>
        Frau Dr. Juliane Hundert<br>
        Maternistraße 17<br>
        01067 Dresden<br>
        E-Mail: post@sdtb.sachsen.de<br>
        www.datenschutz.sachsen.de<br>
        Tel.: +49 (0) 351 85471 101<br>
    </address>
      <p>Hinweis: Zur Inanspruchnahme der Rechte genügt eine Mitteilung in Textform (Brief, E-Mail) an Erik Schönwälder (s.o.). Die Inanspruchnahme der Rechte entfaltet jedoch nur eine Wirkung, wenn durch die verarbeiteten Daten eine Identifizierung Ihrer Person möglich ist.</p>
  </section>
{% endblock %}
