{% extends "base.html" %}

{% block content %}
<h1>Impressum</h1>

<p>Angaben gemäß § 5 TMG</p>

<p>
  <strong>Postadresse:</strong><br>
  Technische Universität Dresden<br>
  Sachgebiet 7.2<br>
  Nöthnitzer Str. 69<br>
  01069 Dresden<br>
</p>

<h2>Ansprechpartner</h2>
<p>Erik Schönwälder<br>
  <strong>E-Mail:</strong> <a href="mailto:erik.schoenwaelder@tu-dresden.de">erik.schoenwaelder@tu-dresden.de</a><br>
  <strong>Telefon:</strong> +49(0) 351 463-37908
</p>

<h2>Technische Umsetzung</h2>
<p>
  <strong>Erik Schönwälder</strong><br>
  Adresse wie oben
</p>

{% endblock %}
